.navbar{
    /* background-color: rgb(246, 111, 70) !important;  */
    background-color: rgb(255, 255, 255) !important; 
    padding: 1rem 5rem !important;
    box-shadow: 6px 9px 11px -4px rgba(0,0,0,0.25);
}
.navbar img {
    width: 50px;
    margin-right: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
    .navbar img {
      animation: App-logo-spin infinite 20s linear;
    }
  }

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a {
    text-decoration: none !important;
    /* color: white !important; */
    color: black !important;
}
.navbar a:hover {
    text-decoration: none !important;
    color: rgb(255, 148, 116) !important;
}
.navbar button {
    color: white !important;
    outline: none;
}
.navbar button:hover {
    background-color: rgb(251, 186, 175) !important;
}
.collapse li {
    padding-left: 2rem !important;
}
.dropdown-menu a {
    text-decoration: none !important;
    color: black !important
}
